<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="config.properties"/>
    <!--<setting name="cacheEnabled" value="true" />
            &lt;!&ndash; 打印sql日志 &ndash;&gt;
            <setting name="logImpl" value="STDOUT_LOGGING" />
        </settings>-->

    <settings>
       <!-- <setting name="cacheEnabled" value="true"/>-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <setting name="lazyLoadingEnabled" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="model.Person" alias="person"/>
        <typeAlias type="model.Son" alias="son"/>
        <typeAlias type="model.Category" alias="category"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="dao/PersonDAO.xml"/>
        <mapper resource="dao/SonDAO.xml"/>
        <mapper resource="dao/ShoopDAO.xml"/>
    </mappers>

</configuration>