<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">


    <!--启用注解-->
    <context:annotation-config/>

    <context:property-placeholder location="classpath:db.properties"/>


    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName">
            <value>${config.driver}</value>
        </property>
        <property name="url">
            <value>${config.url}</value>
        </property>
        <property name="username">
            <value>${config.username}</value>
        </property>
        <property name="password">
            <value>${config.password}</value>
        </property>
    </bean>

    <!--配置sqlSessionFactory用于连接mybatis-config-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:mybatis-config.xml"></property>
    </bean>


    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.erma.dao"></property>
    </bean>


    <bean id="userService" class="com.erma.service.UserServiceImpl">
        <property name="userMapper" ref="userMapper"></property>
    </bean>

    <bean id="classesService" class="com.erma.service.ClassesServiceImpl">
        <property name="classesMapper" ref="classesMapper"></property>
    </bean>

    <bean id="studentService" class="com.erma.service.StudentServiceImpl">
        <property name="studentMapper" ref="studentMapper"></property>
    </bean>

    <bean id="studentattendanceService" class="com.erma.service.StudentattendanceServiceImpl">
        <property name="studentattendanceMapper" ref="studentattendanceMapper"></property>
    </bean>
</beans>