<component name="ArtifactManager">
  <artifact type="war" name="SpringmvcDemo:war">
    <output-path>$PROJECT_DIR$/SpringmvcDemo/target</output-path>
    <root id="archive" name="SpringmvcDemo.war">
      <element id="artifact" artifact-name="SpringmvcDemo:war exploded" />
    </root>
  </artifact>
</component>