<component name="ArtifactManager">
  <artifact type="war" name="springMybatisTest:war">
    <output-path>$PROJECT_DIR$/springMybatisTest/target</output-path>
    <root id="archive" name="SpringMybatis.war">
      <element id="artifact" artifact-name="springMybatisTest:war exploded" />
    </root>
  </artifact>
</component>